@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Brand-Guidelines HSL Tokens */
    --background: 40 60% 99%;
    --foreground: 255.6 23.9% 22.2%;

    --card: 0 0% 100%;
    --card-foreground: 255.6 23.9% 22.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 255.6 23.9% 22.2%;

    --primary: 24.3 61.8% 43.1%;
    --primary-foreground: 40 60% 99%;

    --secondary: 82.6 46.0% 51.4%;
    --secondary-foreground: 255.6 23.9% 22.2%;

    --muted: 23.3 39.7% 73.3%;
    --muted-foreground: 288 2.2% 44.5%;

    --accent: 23.3 39.7% 73.3%;
    --accent-foreground: 288 2.2% 44.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 288 2.2% 44.5%;
    --input: 288 2.2% 44.5%;
    --ring: 82.6 46.0% 51.4%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 7.1%;
    --foreground: 30 25% 90.6%;

    --card: 0 0% 7.1%;
    --card-foreground: 30 25% 90.6%;

    --popover: 0 0% 7.1%;
    --popover-foreground: 30 25% 90.6%;

    --primary: 24.3 61.8% 43.1%;
    --primary-foreground: 30 25% 90.6%;

    --secondary: 82.6 46.0% 51.4%;
    --secondary-foreground: 255.6 23.9% 22.2%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 0 0% 15%;
    --accent-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 82.6 46.0% 51.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
